* {
    margin: 0%;
    padding: 0%;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    position: sticky;
    top: 0%;
    padding: 15px;

}

.navbar ul {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-right: 50px;
    position: sticky;

}

.navbar ul li {
    list-style-type: none;
    text-decoration: none;
    font-size: large;
}

.navbar ul li a {
    text-decoration: none;
}

.main-body-1 {
    display: flex;
    justify-content: space-evenly;
}

.bdy {
    /* border: 2px solid; */
    width: 25em;
    margin-top: 20px;
}

.name h1 a {
    text-decoration: none;
    color: cyan;
    margin-left: 10px;
}

.name h1 a:hover {
    border-radius: 20%;
    background-color: gray;
}

.name p {
    text-align: center;
}

.bdy-2 {
    /* border: 2px solid green; */
    width: 50%;
    margin-top: 20px;
}

.para {
    /* border: 1px solid; */
    margin-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: olivedrab;
}

.had {
    color: black;
}

.bdy-3 {
    display: flex;
    flex-direction: row;
    margin-top: 20;
    justify-content: center;
}

.para-2 {
    text-align: center;
    padding: 20px;
    background-color: floralwhite;
}